body {
  background-color: rgb(252, 216, 171);
  font-family: 'Itim', cursive;
}

.card-stack {
  border-style: solid;
  padding: 60px 30px;
  margin: 10px 5px;
  background-image: white;
  max-height: 50px;
  border-radius: 10%;
}

.card {
  border-style: solid;
  padding: 60px 30px;
  margin: 10px 10px;
  background-image: white;
  max-height: 50px;
  min-height: 50px;
  font-size: 25px;
  vertical-align: text-top;
  border-radius: 10%;
}

div {
  display: flex;
}

#top-row {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.main-four {
  margin: 5px 5px;
  min-width: 20px;
}

#drawn,
#deck {
  margin: 5px 10px;
  min-width: 20px;
}

#deck-draw {
  display: flex;
  justify-self: flex-end;
}

#main-seven {
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style: none;
}

.main-stack {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 60px;
  margin-top: 5px;
}

.glow {
  border-color: rgb(255, 255, 0);
}

.facedown {
  background-image: linear-gradient(
    to bottom right,
    #262626,
    rgb(10, 198, 10),
    #eaeaea,
    rgb(126, 7, 126),
    #262626
  );
}

.empty {
  border-style: solid;
  border-radius: 10%;
  width: 60px;
  margin: 20px 10px;
  min-width: 60px;
}

#info {
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
  font-family: 'Itim', cursive;
  color: rgb(58, 194, 0);
}

button {
  background-color: white;
  font-size: 20px;
  border-radius: 20%;
  font-family: 'Itim', cursive;
  border-color: rgb(77, 255, 0);
  border-width: 5px;
  margin-top: 50px;
  padding: 25px 50px;
}

#other {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
