body {
  background-color: rgb(221, 165, 10);
}

.card-stack {
  border-style: solid;
  padding: 60px 30px;
  margin: 10px 5px;
  background-image: white;
  max-height: 50px;
  border-radius: 10%;
}

.card {
  border-style: solid;
  padding: 60px 30px;
  margin: 10px 10px;
  background-image: white;
  max-height: 50px;
  font-size: 25px;
  vertical-align: text-top;
  border-radius: 10%;
}

div {
  display: flex;
}

#top-row {
  display: flex;
  justify-content: space-between;
}

.main-four {
  margin: 5px 5px;
}

#drawn,
#deck {
  margin: 5px 10px;
}

#deck-draw {
  display: flex;
  justify-self: flex-end;
}

#main-seven {
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style: none;
}

.main-stack {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 60px;
  margin-top: 5px;
}

.glow {
  border-color: yellow;
}

.facedown {
  background-image: linear-gradient(
    to bottom right,
    green,
    blue,
    orange,
    violet
  );
}
